# Téléchargement du dataset depuis Kaggle

In [1]:
import os
from kaggle.api.kaggle_api_extended import KaggleApi
from dotenv import load_dotenv

def download_dataset(dataset_name, destination_dir="../data"):
    try:
        if not os.path.exists(destination_dir):
            os.makedirs(destination_dir)

        api.dataset_download_files(dataset_name, path=destination_dir, unzip=True)

    except Exception as e:
        print(f"Erreur lors du téléchargement : {e}")

load_dotenv()
os.environ['KAGGLE_USERNAME'] = os.getenv('KAGGLE_USERNAME')
os.environ['KAGGLE_KEY'] = os.getenv('KAGGLE_KEY')

api = KaggleApi()

try:
    api.authenticate()
    download_dataset("sumanthvrao/daily-climate-time-series-data")
    
except Exception as e:
    print(f"Erreur d'authentification : {e}")

Dataset URL: https://www.kaggle.com/datasets/sumanthvrao/daily-climate-time-series-data

Deux fichiers CSV ont été créés dans le dossier `data/` :

- `DailyDelhiClimateTest.csv`  
- `DailyDelhiClimateTrain.csv`  

Les deux fichiers possèdent les mêmes propriétés ; la seule différence réside dans leur taille. Le fichier `DailyDelhiClimateTrain.csv` est destiné à l'entraînement complet du modèle, tandis que le fichier `DailyDelhiClimateTest.csv`, plus réduit, peut servir à l'étape de validation.

In [2]:
# Import des bibliothèques nécessaires
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

# Options d'affichage
pd.set_option('display.max_columns', None)

In [3]:
# Chargement des fichiers CSV
train_path = "../data/DailyDelhiClimateTrain.csv"
test_path = "../data/DailyDelhiClimateTest.csv"

try:
    train_df = pd.read_csv(train_path)
    test_df = pd.read_csv(test_path)
except FileNotFoundError as e:
    print(f"Erreur lors du chargement des fichiers : {e}")

print("Aperçu du fichier d'entraînement :")
display(train_df.head())

print("\nAperçu du fichier de test :")
display(test_df.head())

Aperçu du fichier d'entraînement :

         date   meantemp   humidity  wind_speed  meanpressure
0  2013-01-01  10.000000  84.500000    0.000000   1015.666667
1  2013-01-02   7.400000  92.000000    2.980000   1017.800000
2  2013-01-03   7.166667  87.000000    4.633333   1018.666667
3  2013-01-04   8.666667  71.333333    1.233333   1017.166667
4  2013-01-05   6.000000  86.833333    3.700000   1016.500000

Aperçu du fichier de test :

         date   meantemp   humidity  wind_speed  meanpressure
0  2017-01-01  15.913043  85.869565    2.743478     59.000000
1  2017-01-02  18.500000  77.222222    2.894444   1018.277778
2  2017-01-03  17.111111  81.888889    4.016667   1018.333333
3  2017-01-04  18.700000  70.050000    4.545000   1015.700000
4  2017-01-05  18.388889  74.944444    3.300000   1014.333333